@model SportsStore.Domain.Entities.Product

<div class="product animated-product thumbnail col-md-4 col-xs-12 pull-left ui-widget" style="margin: 8pt;">
    <h3>@Model.Name</h3>
    @Model.Description
    <div class="caption">
    @using(Html.BeginForm("AddToCart", "Cart"))
    {
        @Html.HiddenFor(x => x.ProductID)
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        <input type="submit" class="btn btn-info" value="+ Положить в корзину"/>
    }
        <h4 class="badge">@Model.Price.ToString("c")</h4>
        </div>
</div>