@model SportsStore.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "Корзина закупок";
}

<h2>Содержимое корзины</h2>
<table width="90%" align="center">
    <thead>
        <tr>
            <th align="center">Штук</th>
            <th align="left">Изделие</th>
            <th align="right">Стоимость</th>
            <th align="right">Промежуточная сумма</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td align="center">@line.Quantity</td>
                <td align="left">@line.Product.Name</td>
                <td align="right">@line.Product.Price.ToString("c")</td>
                <td align="right">@((line.Quantity * line.Product.Price).ToString("c"))</td>
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        @Html.Hidden("ProductId", line.Product.ProductID)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <input class="actionButtons" type="submit" value="удалить из корзины"/>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" align="right">Итог:</td>
            <td align="right">
                @Model.Cart.ComputeTotalValue().ToString("c")
            </td>
        </tr>
    </tfoot>
</table>
<p align="center" class="actionButtons">
    <a href="@Model.ReturnUrl">Вернуться к прежнему списку изделий</a>
</p>
